.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
  }
  
  h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  label {
    margin-top: 10px;
    font-size: 16px;
  }
  
  input {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #0069d9;
  }
  
  .login-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  button.button-link {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.button-link:hover {
    background-color: #f5f5f5;
  }
  .login-container a {
    text-decoration: underline;
    text-decoration-color: #0069d9;
    color: #0069d9;
  }
  .login-container a:hover {
    color: #254f7b;
  }