.button-link {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    color: #0c0a0a;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  .button-add {
    display: inline-block;
    border: 1px solid #ccc;
    background-color: #52ab6c;
    padding: 8px 16px;
    text-decoration: none;
    color: #080a08;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  .button-add:hover {
    background-color: #127040;
    color: #fff;
    border-color: #ccc;
  }
  .button-link:hover {
    background-color: #848986;
    color: #242121;
    border-color: #ccc;
  }